In [ ]:
pwd()

In [ ]:
import sys

In [1]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [3]:
import pandas as pd

In [11]:
pd.read_csv('abc.csv',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [13]:
import numpy as np

In [27]:
d=pd.date_range('20/5/2020',periods=8,freq = 'Y')
d

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [20]:
np.arange(7.)

array([0., 1., 2., 3., 4., 5., 6.])

In [30]:
pd.Series(np.arange(2,10),index=[1,2,3,4,'asd','dwefef',3,6])

1         2
2         3
3         4
4         5
asd       6
dwefef    7
3         8
6         9
dtype: int32

In [33]:
s=pd.Series([1,2,3,4,566,'sdgergr',0,9],index=[1,2,3,4,'asd','dwefef',3,6])
s

1               1
2               2
3               3
4               4
asd           566
dwefef    sdgergr
3               0
6               9
dtype: object

s['asd]

In [35]:
s['asd']

566

In [37]:
import csv

In [38]:
f = open('abc.csv')

In [39]:
f